<div>
	<h1>Vocab Learn</h1>
	<h3>Train for a better vocabulary here.</h3>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
    	<%= link_to word_path(@words.first), class: "btn btn-success btn-lg" do %>Start Now
			<span class="glyphicon glyphicon-flag"></span>
    	<% end %>
    </div>
  </div>
</div>
